.container  {
  display: none;
}
h1  {
  text-align: center;
}
.popup  {
  text-align: center;
}
button  {
  margin-top: 15px;
}
#notAdult {
  display: none;
}
#q1  {
  display: none;
}
#q2 {
  display: none;
}
#q3 {
  display: none;
}
#q4 {
  display: none;
}
#q5 {
  display: none;
}
.theResults {
  display: none;
}
