.container  {
  display: none;
}
h1  {
  text-align: center;
}
.popup  {
  text-align: center;
}
button  {
  margin-top: 15px;
}
#notAdult {
  display: none;
}
/* .firstFirst  {
  display: none;
}
.secondPair {
  display: none;
}
.thirdPair {
  display: none;
}
.fourthPair {
  display: none;
}
.fifthPair {
  display: none;
} */
